<md-card>
  <md-card-header>
    <md-icon md-card-avatar>notifications</md-icon>
    <md-card-title>Web Push Notifications</md-card-title>
    <md-card-subtitle>Re-engage your users</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      Push and notification use different, but complementary, APIs: push is invoked when a server supplies information to a service
      worker; a notification is the action of a service worker or web page script showing information to a user.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button class="js-push-subscribe-button"><md-icon>notifications_active</md-icon>Subscribe</button>
    <button md-raised-button class="js-push-unsubscribe-button"><md-icon>notifications_off</md-icon>Unsubscribe</button>
  </md-card-actions>
</md-card>
